.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}


.main-nav {
	position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    padding: 10px 20px;
    background-color: white;
    a {
    	color: white;
    	text-decoration: none;
    	font-size: 25px;	
    	text-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    	.transition(all 300ms);
    }
    a:hover {
    	text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
    }
    .about {
    	float: right;
    }
}

.background-canvas {
	position: fixed;
	z-index: -1;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.project-preview-container {
	width: 500px;
    position: relative;
    margin-bottom: 50px;
    .image-container {
    	height: 300px;
    	overflow: hidden;
	    .project-title-div {
	    	position: absolute;
	    	bottom: 0px;
	    	right: 0px;
	    	padding: 10px;
	    	color: white;
	    	border-right: 5px solid white;
	    	border-bottom: 5px solid white;
	    	font-size: 30px;
	    }
    }
}

.home-container { 
    max-width: 800px;
    margin: 100px auto;
}