.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
	transform: 			 @string;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

@shadow-color: rgba(100, 100, 100, .5);
@shadow-nav: rgba(100, 100, 100, .2);

@top-margin: 150px;
@top-margin-mobile: 80px;

@side-margin: 60px;
@side-margin-mobile: 20px;

.main-nav {
	@media screen and (min-width: 630px) {
		height: @top-margin;
		padding: 50px 60px;
	}

	position: fixed;
    z-index: 900;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: @top-margin-mobile;
    padding: 10px 20px;
    background-color: white;
    background: linear-gradient(to top,transparent 0,transparent 2%,rgba(100,100,100,.15)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#38000000', GradientType=0);
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    a {
    	pointer-events: auto;
    	color: white;
    	text-decoration: none;
    	font-size: 25px;	
    	text-shadow: 0px 0px 10px @shadow-nav;
    	vertical-align: center;
    	.transition(all 300ms);
    }

    a:hover {
    	text-shadow: 0px 0px 20px @shadow-color;
    }
    a.about {
    	font-size: 18px;
    	padding-top: 5px;
    }
}

.background-canvas {
	position: fixed;
	z-index: -1;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}


.project-container.none {
	max-height: 0px;
	margin: 0px auto;
}

.project-container.preview {
	max-height: 300px;
	margin-bottom: 50px;
	.image-container {
    	img {
    		width: 100%;
    	}
    }
}


@slider-width: 50px;
.project-container.full {
	max-height: 1000px;
	.project {
	    position: relative;
	    width: 100%;
	    .slider {
	    		display: flex;
	    		width: 100%;
	    		position: relative;
		    	.slide {
		    		min-width: @slider-width;
		    		cursor: pointer;
		    		.arrow {
		    			position: absolute;
					    width: 0;
					    top: 50%;
					    .transform(translateY(-50%));
		    		}
					@media screen and (max-width: 630px) {
						position: absolute;
						z-index: 100;
						//top: calc(50% - 8em);

					}
		    	}
		    	.slide-left {
		    		@media screen and (max-width: 630px) {
		    			left: 0;
					}
		    		.arrow {
		    			left: 1em;
					    border-top: 8em solid transparent;
					    border-left: 0 solid transparent;
					    border-right: 1.5em solid rgba(0,0,0,.1);
					    border-bottom: 8em solid transparent;
				    }
		    	}
		    	.slide-right {
		    		@media screen and (max-width: 630px) {
		    			right: 0;
					}
		    		.arrow {
					    right: 1em;
					    border-top: 8em solid transparent;
					    border-left: 1.5em solid rgba(0,0,0,.1);
					    border-right: 0 solid transparent;
					    border-bottom: 8em solid transparent;
					}
		    	}
		    	.image-container {
			    	flex-grow: 2;
			    	overflow: hidden;
					position: relative;
					img {
						width: 100%;
					}
					.project-preview-image.left {
						//.transform(translateX(-100%));
						left: 1000px;
					} 
					.project-preview-image {
						position: absolute;
						top: 0px;
						left: 0px;
						//.transition(transform 600ms ease);
					}
					.slider-screen {
						cursor: pointer;
						position: absolute;
						top: 0px;
						bottom: 0px;
					}
					.slider-screen-left {
						left: 0px;
						right: 50%;
					}
					.slider-screen-right {
						right: 0px;
						left: 50%;
					}
	   			}
	    }
	    .project-description {
	   		margin: 0px  @slider-width;
	   		color: rgba(0,0,0,.3);
	   		padding-top: 9px;
	   	}
	}
}

.project-container {
	margin: 0px auto; 
	max-width: 600px;
    position: relative;
    overflow: hidden;
    .transition(all 600ms ease);
    .image-container {

    	box-shadow: 0px 0px 5px @shadow-color;
    	&:hover { box-shadow: 0px 0px 15px @shadow-color; } 
    	cursor: pointer;
    	.transition(all 300ms);
	    .project-title-div {
	    	text-shadow: 0px 0px 25px @shadow-color;
	    	position: absolute;
	    	bottom: 0px;
	    	right: 0px;
	    	padding: 10px;
	    	color: white;
	    	border-right: 5px solid white;
	    	border-bottom: 5px solid white;
	    	font-size: 30px;
	    }
    }
}

.home-container { 
    margin: (@top-margin-mobile - 0px) 0px;
    @media screen and (min-width: 630px) {
		margin: (@top-margin - 0px) 0px;
	}
}

.about-container {
	margin: @top-margin-mobile @side-margin-mobile;
    @media screen and (min-width: 630px) {
		margin: @top-margin @side-margin;
	}
    color: rgba(0,0,0,.3);
    a {
    	color: rgba(0,0,0,.3);
    }
}

.route-enter {
  opacity: 0.01;
}

.route-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.route-leave {
  opacity: 1;
}

.route-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}