.main-nav {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    a {
    	color: white;
    	text-decoration: none;
    	font-size: 25px;	
    	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    }
    .about {
    	float: right;
    }
}

.background-canvas {
	position: absolute;
	z-index: -1;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #000
}

#container {background-color: #bbbbbb}